.EditIngredient {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr 2fr;
    justify-items: center;
}

@media (max-width: 1367px) {
    .EditIngredient {
        grid-template-columns: 3fr 2fr 1fr 1fr;
    }
}
