.ButtonList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    position: fixed;
    bottom: 3.5rem;
    width: 75vw;
    left: 12.5vw;
    height: auto;
    margin: 0 auto;
    flex-direction: row;
}

@media (max-width: 1024px) {
    .ButtonList {
        left: 2.5vw;
        width: 95vw;
    }
}
